
<h3><i class="fas fa-book-reader"></i>Passport authentication</h3>
<div class="section">
    <p class="lead">Make new stories</p>
</div>
<div class="divider"></div>
    <div class="section">
        <a href="/auth/google" class="btn red darken-1">
        <i class="fa fab-google left"></i><i class="fab fa-google left"></i>Login with google
        </a>
    </div>
